<div>
    <div ng-if="$ctrl.showLogIn()" class="centered">
            <div class="amoms-label">AMOM SYSTEM</div>
            <div class="input-row input-group">
                <span class="input-group-addon">User:</span>
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-row input-group">
                <span class="input-group-addon">Password:</span>
                <input type="password" class="form-control">
            </div>
            <div class="text-center">
                <button type="button" 
                        class="btn btn-success"
                        ng-click="$ctrl.logIn()">
                    Log In
                </button>
                <button type="button"
                        class="btn btn-info"
                        ng-click="$ctrl.showPasswordForm()">
                    Forgot Password
                </button>
            </div>
    </div>
    <div ng-if="$ctrl.loggedIn">
        <div class="sidebar">
            <div class="sidebar-item"
                 ng-repeat="item in $ctrl.sideBarItems"
                 ng-class="{'sidebar-item-selected' : item.active}">
                <span ng-bind="item.name"
                      ng-click="item.router($ctrl.sideBarDisplayValues)">
                </span>
            </div>
        </div>

        <div class="content-area">
            <!-- Patients View -->
            <div ng-if="$ctrl.showPatients()">
                <div class="container-fluid content-container" 
                     ng-if="!$ctrl.showPatientDetailScreen">
                    <span class="content-container-label" ng-bind="$ctrl.contentLabel"></span>
                    <div class="row" style="margin-bottom: 10px;">
                        <span class="col-xs-1">Name</span>
                        <span class="col-xs-11">
                            <input type="text"
                               class="form-control" 
                               placeholder="Enter patient name.">
                        </span>
                    </div>
                    <div class="row content-header">
                        <span class="col-xs-1">File Key</span>
                        <span class="col-xs-1">Last</span>
                        <span class="col-xs-1">First</span>
                        <span class="col-xs-1">Middle</span>
                        <span class="col-xs-4">Address</span>
                        <span class="col-xs-3">Phone Number (Primary)</span>
                    </div>
                    <div class="row content-row"
                         ng-repeat="patient in $ctrl.patients | orderBy: 'last'"
                         ng-class-odd="'odd-row'"
                         ng-click="$ctrl.showPatientDetails(patient)">
                         <span class="col-xs-1" ng-bind="patient.fileKey"></span>
                         <span class="col-xs-1" ng-bind="patient.last"></span>
                         <span class="col-xs-1" ng-bind="patient.name"></span>
                         <span class="col-xs-1" ng-bind="patient.middle"></span>
                         <span class="col-xs-4" ng-bind="patient.address"></span>
                         <span class="col-xs-3" ng-bind="patient.phone"></span>
                    </div>
                </div>

                <div class="container-fluid content-container patient-info"
                     ng-if="$ctrl.showPatientDetailScreen">
                    <span class="content-container-label">
                        Details for - {{$ctrl.selectedItem.name + ' ' + $ctrl.selectedItem.last}}
                    </span>
                    <div class="btn-row">
                        <button type="button" class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-default">Cancel</button>
                        <button type="button" 
                                class="btn btn-default">
                                View Prescription History
                        </button>
                        <button type="button" 
                                class="btn"
                                ng-class="{
                                    'btn-success' : !$ctrl.apptStarted,
                                    'btn-danger' : $ctrl.apptStarted    
                                }"
                                ng-click="$ctrl.toggleAppt()"
                                ng-bind="$ctrl.getApptBtnLabel()">
                        </button>
                    </div>
                    <div class="row">
                        <span class="col-xs-2 patient-label">Name</span>
                        <span class="col-xs-4" ng-bind="$ctrl.getPatientName()"></span>
                        <span class="col-xs-2 patient-label">Date of Birth</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.dob"></span>
                        <span class="col-xs-2 patient-label">Sex</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.sex"></span>
                        <span class="col-xs-2 patient-label">Email</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.email"></span>
                        <span class="col-xs-2 patient-label">Phone</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.phone"></span>
                        <span class="col-xs-2 patient-label">Address</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.address"></span>
                        <span class="col-xs-2 patient-label">Occupation</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.occupation"></span>
                        <span class="col-xs-2 patient-label">Recommendation</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.recommendation"></span>
                        <span class="col-xs-2 patient-label">Married</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.married"></span>
                        <span class="col-xs-2 patient-label"># Kids</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.numKids"></span>
                        <span class="col-xs-2 patient-label">File Key</span>
                        <span class="col-xs-4" ng-bind="$ctrl.selectedItem.fileKey"></span>
                    </div>
                </div>
                <div class="container-fluid content-container" ng-if="$ctrl.showPatientDetailScreen">
                    <span class="content-container-label">Medical History</span>
                    <div class="row content-header">
                        <span class="col-xs-2">Date</span>
                        <span class="col-xs-10">Event</span>
                    </div>
                    <div class="row event-row"
                         ng-class-odd="'odd-row'" 
                         ng-repeat="ev in $ctrl.medicalEvents">
                        <span class="col-xs-2" ng-bind="ev.date"></span>
                        <span class="col-xs-10" ng-bind="ev.event"></span>
                    </div>
                </div>

                <div class="container-fluid content-container" ng-if="$ctrl.showPatientDetailScreen">
                    <span class="content-container-label">Medical Notes for Patient</span>
                    <div class="row content-header">
                        <span class="col-xs-2">Date</span>
                        <span class="col-xs-2">Recording Practitioner</span>
                        <span class="col-xs-6">Event</span>
                    </div>
                    <div class="row event-row"
                         ng-class-odd="'odd-row'" 
                         ng-repeat="note in $ctrl.medicalNotes">
                        <span class="col-xs-2" ng-bind="note.date"></span>
                        <span class="col-xs-2" ng-bind="note.recordingDr"></span>
                        <span class="col-xs-8" ng-bind="note.note"></span>
                    </div>
                </div>
            </div>
            <!---->

            <!-- Schedule View -->
            <div ng-if="$ctrl.showSchedule()">
                SCHEDULE
            </div>
            <!---->

            <!-- Reports View -->
            <div ng-if="$ctrl.showReports()">
                REPORTS
            </div>
            <!---->

            <!-- Admin View -->
            <div ng-if="$ctrl.showAdmin()">
                <div class="container-fluid content-container" ng-if="!$ctrl.showUserDetailScreen">
                    <span class="content-container-label">User Management</span>
                    <div class="btn-row">
                        <button type="button" 
                                class="btn btn-info"
                                ng-click="$ctrl.showUserDetail(null)">
                                New User
                        </button>
                    </div>
                    <div class="row content-header">
                        <span class="col-xs-3">Username</span>
                        <span class="col-xs-3">Employee Name</span>
                        <span class="col-xs-2">Privilege Level</span>
                        <span class="col-xs-2">Practitioner Type</span>
                        <span class="col-xs-2">Active</span>
                    </div>
                    <div class="row content-row"
                         ng-repeat="user in $ctrl.users | orderBy: 'username'"
                         ng-class-odd="'odd-row'"
                         ng-click="$ctrl.showUserDetail(user)">
                            <span class="col-xs-3" ng-bind="user.username"></span>
                            <span class="col-xs-3" ng-bind="user.name"></span>
                            <span class="col-xs-2" ng-bind="user.privLevel"></span>
                            <span class="col-xs-2" ng-bind="user.practType || ''"></span>
                            <span class="col-xs-2">{{user.active ? 'Active' : 'Disabled'}}</span>
                    </div>
                </div>
                <div class="container-fluid content-container" ng-if="$ctrl.showUserDetailScreen">
                    <div class="btn-row">
                        <span ng-if="$ctrl.editMode">
                            <button type="button" class="btn btn-info">Save</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </span>
                        <span ng-if="!$ctrl.editMode">
                            <button type="button" class="btn btn-info">Edit User</button>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-xs-2 patient-label">Name</span>
                        <span class="col-xs-4" 
                              ng-bind="$ctrl.selectedItem.name" 
                              ng-if="!$ctrl.editMode">
                        </span>
                        <span class="col-xs-4" ng-if="$ctrl.editMode">
                            <input class="form-control" type="text" ng-model="$ctrl.selectedItem.name">
                        </span>

                        <span class="col-xs-2 patient-label">Date of Birth</span>
                        <span class="col-xs-4" 
                              ng-bind="$ctrl.selectedItem.dob"
                              ng-if="!$ctrl.editMode">
                        </span>
                        <span class="col-xs-4" ng-if="$ctrl.editMode">
                            <input class="form-control" type="text" ng-model="$ctrl.selectedItem.dob">
                        </span>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>